# Composer files
/vendor
composer.phar
composer.lock

# Editor files
.idea
.vscode
*.code-workspace

# Other files
.DS_Store
php_errors.log

#eclipse
/.buildpath
/.project
/.settings/

#phpunit
tests/.phpunit.result.cache
.phpunit.result.cache
tests/tmp
tests/artifacts/*
