includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - src
    level: 5
    ignoreErrors:
        - identifier: trait.unused
    excludePaths:
        # Exclude PHP Parser files
        - src/Parse/PHP/ArrayFile.php
        - src/Foundation/Console/KeyGenerateCommand.php
        - src/Scaffold/GeneratorCommand.php
    disableSchemaScan: true
    databaseMigrationsPath:
        - src/Auth/Migrations
        - src/Database/Migrations
    stubFiles:
        - tests/stubs/Facades.stub
    treatPhpDocTypesAsCertain: false
