name: Code Quality

on:
  pull_request:
  push:
    branches:
      - 1.0
      - 1.1
      - develop

jobs:
  codeQuality:
    runs-on: ubuntu-latest
    name: PHP
    steps:
      - name: Checkout changes
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install PHP and PHP Code Sniffer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.3'
          tools: phpcs
          coverage: none
      - name: Run code quality checks (on push)
        if: github.event_name == 'push'
        run: ./.github/workflows/utilities/phpcs-push ${{ github.sha }}
      - name: Run code quality checks (on pull request)
        if: github.event_name == 'pull_request'
        run: ./.github/workflows/utilities/phpcs-pr ${{ github.base_ref }}
